<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Blog Bay</h1>
    <p style="font-size: 60px; font-weight: bolder"> Nav Bar </p>
    


    {% block container %}
        <div>
            <a href=" {% url 'create_blog'%} " style="font-size: 25px;"> Create a new Blog </a>
            {%for i in blogs%}
                <hr>
                <h3>
                    {{i.title}}
                </h3>
                <p>
                    {{i.description}}
                    <br><br><br>
                    <a href="#"> Modify the blog </a>
                    <br>
                    <a href="#"> Comment </a>
                </p>
                <hr>


            {%endfor%}
        </div>
        
    {% endblock container%}

    <p style="font-size: 60px; font-weight: bolder"> Footer </p>
</body>
</html>